body {
    margin: 0;
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    background-image: linear-gradient(to right, hsla(0, 100%, 50%, 0.66), rgba(255, 166, 0, 0.66),  rgba(255, 255, 0, 0.66), rgba(0, 128, 0, 0.66), rgba(0, 0, 255, 0.66), rgba(76, 0, 130, 0.66), hwb(300 51% 7% / 0.66));
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-family: 'Monoton', cursive; 
    font-size: 48px;
    margin: 0;
    letter-spacing: 3px;
    color: #41b9ff;
}

.nav-menu {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin: 0 15px;
    background-color: #41b9ff;
    padding: 10px;
    border-radius: 15px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


main {
    width: 80%;
    margin: 20px auto;
}

.wide-banner {
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.stacked {
    background-color: #eee;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}


.two-columns {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.column {
    background-color: #e0e0e0;
    padding: 15px;
    flex: 1;
    border-radius: 10px;  
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.interior-column-center{
display: flex;
flex-direction: column;
 justify-content: center; 
 align-items: center;  
}
.header 
{font-size: 28px;
font-weight: bold;
text-align: center;
}
.subheader 
{font-size: 22px;
    font-style: italic;
text-align: center;
}
.smallheader 
{font-size: 22px;
font-weight: bold;
text-align: center;
}
h2 {text-align: center;
}
.staff-img {
  width: 100%;             
  max-width: 400px;              
  object-fit: cover;        
  display: block;          
  border-radius: 10px;      
  margin: auto;           
}